* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#images {
	display: none;
}

#timer {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 200px;
	color: white;
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
}

#stars_bg {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000ee;
	z-index: -1;
}

#solar_system {
	width: 1000px;
	height: 1000px;
}

