/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000;
	--pure-white: #ffffff; 
	--cosmic-glow: #0072b354;
}
/****************************** COLOR SCHEME - END ******************************/


* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--pure-black);
}

#images {
	display: none;
}

#app {
	display: grid;
	grid-template-areas: 'info main controls';
	grid-template-columns: 1fr 100vmin 1fr;
}

#info {
	grid-area: info;

	background-image: linear-gradient(to left, var(--pure-black) 30%, var(--cosmic-glow) 100%);
}

#timer {
	color: var(--pure-white);
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
}

#main {
	grid-area: main;

	position: relative;
}

#stars_bg, #solar_system {
	width: 100vmin;
	height: 100vmin;
}

#stars_bg {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--pure-black);
	z-index: -1;
}

#controls {
	grid-area: controls;

	background-image: linear-gradient(to right, var(--pure-black) 30%, var(--cosmic-glow) 100%);
}

@media screen and (orientation:portrait) {
	#app {
		grid-template-areas: 
		'main'
		'controls'
		'info';

		grid-template-columns: 100vmin;
		grid-template-rows: 100vmin 1fr 1fr;
	}
}